* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  */

body {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(172, 214, 214);
}

/* le  */

/* la section dans la quel mon formulaire se trouve */

section {
    margin-top: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 40vw;
    background-color:   rgb(238, 240, 243);
    background-image: url(wave.svg);
    background-size:cover;
    border-radius: 30px;
    /* transform: rotate(90deg); */
}

/* position du titre */

p {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(245, 236, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -90px;
    margin-left: 150px;

}

/* la taile et les caracteristique de mes champs de saisis */

input {

    height: 6vh;
    width: 20vw;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px; 
    font-size: 20px;
    /* align-content: center; */
}

/* affichage du mot de passe */

#o1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 320px;
    cursor: pointer;
    opacity: 0;
}

/* masquer du mot de passe */

#o2 {
    position: absolute;
    margin-top: 10px;
    margin-left: -47px;
    opacity: 1;

}

/* logo user */

#user {
    margin-top: 7px;
    position: absolute;

}
 
/* logo passe word */

#lock {
    position: absolute;
    margin-top: 7px;
}

/* lien pour le mot de passe oublier */

a  {
    position: relative;
    text-decoration: none;
    color:rgb(167, 133, 133);
    font-size: 15px;
}

a:hover  {
    position: relative;
    text-decoration: none;
    color:rgb(53, 36, 36);
    font-size: 15px;
}

/* caracteristique du bouton login */

button {
    position: absolute;
    padding: 10px 20px;
    background-color: #e0518e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 150px;
    margin-top: 20px;
}


